body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
}
/*Header Start*/
header{
    width: 100%;
    background-color: aquamarine;
    color: red;
    display: flex;
}
div.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:bold;
    margin-left: 20px;
    margin-top: 5px;
    padding:10px;
}
.nevber{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.nevber ul{
    list-style: none;
}
.nevber ul li{
    background-color: rgb(244, 7, 224);
    width: 170px;
    border: 1px solid gold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float:left;
    color: black;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;


}
.nevber ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nevber ul li:hover{
    background-color: crimson;
    transition: all ease-in 0.5s;
}
.nevber ul ul{
    display: none;
}
.nevber ul li:hover >ul{
    display: block;
}
/*Header end*/

/*Fotter Start*/
footer{
    height: 400px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;

}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.text p{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -30px;
}
.icon i{
    font-size: 35px;
    position: relative;
    top: -20px;
    padding: 10px;
}
.copy{
    height: 50px;
    width: 100%;
    background-color:blue;
    line-height: 50px;
    font-size:20px ;
}