.bg{
    width: 700%px;
    height: 400px;
    background: url(000.jpg) no-repeat center ;
    overflow: hidden;
}
p{
    font-size: 40px;
}
.box p{
    text-align: center;
    background-color: white;
    padding: 10px;
    margin-top: 100px;
    opacity: 0.7;
}