.social{
    width: 128px;
    height:128px;
    background-image: url(social.png);
    background-position: 0 -59px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 1s;


}
.social:hover{
    background-position: 0 -126px;
}