h1{
    color: red;
}
h2{
    color: rgb(51, 11, 130);
}
p{
    color: #9f1ca6;
}
p1{
    font-style: italic;
    color: #ee5253;
}
.Box{
    height: 400px;
    width: 400px;
    background: radial-gradient(#ee5253,#43a2e6);
}