div{
  float: left;
}
.Box1{
  width: 300px;
  height: 150px;
  background-color: red;
}
.Box2{
  width: 300px;
  height: 150px;
  background-color:aqua ;
}
.Box3{
  width: 300px;
  height: 150px;
  background-color: black;
}
.Box4{
  width: 300px;
  height: 150px;
  background-color: green;
}