a:hover{
    color: black;
    background-color: rgb(204, 20, 26);
}
h2:nth-child(4){
    color: blue;
}
p::first-line{
    color: red;
    font-size: 40px;
}
h1::before{
    content: url(star.sdg.png);
}