h1{
    text-align: center;
}
.box{
    height: 400px;
    width: 400px;
    background-color: red;
    color: black;
    margin: 100px auto;
    position: relative;
    transform: translatey(50px);
    }
.box h3{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40%;
}